In [2]:
#!pip3 install mlxtend

In [3]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [4]:
df = pd.DataFrame({'a':[1, 1, 0, 1, 0],
                   'b':[1, 0, 1, 0, 1],
                   'c':[1, 1, 1, 0, 1],
                   'd':[0, 1, 1, 1, 0],
                   'e':[0, 0, 0, 1, 1]})
df

   a  b  c  d  e
0  1  1  1  0  0
1  1  0  1  1  0
2  0  1  1  1  0
3  1  0  0  1  1
4  0  1  1  0  1

In [5]:
basket_sets = (df)
basket_sets

   a  b  c  d  e
0  1  1  1  0  0
1  1  0  1  1  0
2  0  1  1  1  0
3  1  0  0  1  1
4  0  1  1  0  1

In [6]:
print('support(b & c -> d):',
      len(basket_sets[(basket_sets['b'] == 1) & (basket_sets['c'] == 1) 
                     & (basket_sets['d'] == 1)]) / len(basket_sets))

support(b & c -> d): 0.2

In [7]:
frequent_itemsets = apriori(basket_sets, min_support=0.01, use_colnames=True)

In [8]:
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)

In [9]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(d),(a),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
1,(a),(d),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
2,(c),(b),0.8,0.6,0.6,0.750000,1.250000,0.12,1.6
3,(b),(c),0.6,0.8,0.6,1.000000,1.250000,0.12,inf
4,"(a, b)",(c),0.2,0.8,0.2,1.000000,1.250000,0.04,inf

In [10]:
rules.shape

(18, 9)

In [18]:
# SELECT * FROM rules WHERE rules.lift >= 0 AND rules.confidence >= 0
rules[ (rules['lift'] > 1) & (rules['confidence'] > .7)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(c),(b),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
3,(b),(c),0.6,0.8,0.6,1.00,1.250000,0.12,inf
4,"(a, b)",(c),0.2,0.8,0.2,1.00,1.250000,0.04,inf
7,"(d, e)",(a),0.2,0.6,0.2,1.00,1.666667,0.08,inf
8,"(a, e)",(d),0.2,0.6,0.2,1.00,1.666667,0.08,inf
12,"(d, b)",(c),0.2,0.8,0.2,1.00,1.250000,0.04,inf
14,"(c, e)",(b),0.2,0.6,0.2,1.00,1.666667,0.08,inf
15,"(b, e)",(c),0.2,0.8,0.2,1.00,1.250000,0.04,inf